.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-container {
  text-align: center;
}

.number-cards-container {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.card-container {
  background-color: #f1f1f1;
  width: 200px;
  height: 250px;
  margin: 10px;
}

.card-container:hover {
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.card-container span {
  font-size: 2.25em;
  font-weight: 700;
  top: 40%;
  position: relative;
  transform: translateY(-50%);
}

.custom-btn {
  padding: 10px;
  background: #c4b0b0;
  font-size: 16px;
}

.custom-btn:hover, .custom-btn:active, .custom-btn:focus {
  cursor: pointer;
  outline: 0;
}